/* global */
body {
	background-color: #000;
	font-family: sans-serif;
}

button:focus {
	outline:0;
	cursor: pointer;
}

/* game */
.wrapper {
	position: relative;
	margin: 0 auto;
	width: 700px;
}

.game {
	top: 70px;
	position: absolute;
	width: 700px;
	height: 700px;
	text-align: center;
	background-color: #000;
}

.row {
	width: 600px;
	margin: 0 auto;
}

.pad {
	height: 250px;
	width: 250px;
	opacity: 0.6;
	display: inline-block;
	border: 5px solid #111;
	margin: -4px;
	cursor: pointer;
	z-index: 1;
}

#shape1 {
	background: #00dd00;
	border-radius: 100% 0 0 0;
}

#shape2 {
	background: #dd0000;
	border-radius: 0 100% 0 0;
}

#shape3 {
	background: #ffff00;
	border-radius: 0 0 0 100%;
}

#shape4 {
	background: #0000ff;
	border-radius: 0 0 100% 0;
}

.circle {
	height: 250px;
	width: 250px;
	background: #111;
	border-radius: 50%;
	position: absolute;
	left: 227px;
	top: 128px;
	z-index: 10;
	background: #4a3b3b;
	border: 2px solid #111;
}

/* controls */
.control {
	position: absolute;
	height: 50px;
	width: 50px;
	top: 150px;
	border-radius: 50%;
	opacity: 0.6;
}

.score-container {
	background: #32050C;
	color: #DC0D29;
	height: 75px;
	width: 75px;
	top: 40px;
	left: 85px;
	position: absolute;
	border: 2px solid #555;
}

.score {
	font-size: 55px;
	margin: 0 auto;
	margin-top: 17px;
	font-family: 'Orbitron', sans-serif;
	
}

.start {
	left: 65px;
}

.power {
	left: 135px;
}

button.start {
	background:  #dd0000;
}

button.power {
	background: #0000ff;
	opacity: 0.6;
}

label {
	position: absolute;
	top: 130px;
	background: transparent;
	color: #FFF;
}

.power-indicator {
	left: 195px;
	color:  #DD0000;
	top: 98px;
	font-size: 48px;
	opacity: 0.6;
	font-family: serif;
}

.high-score-container {
	position: absolute;
	top: 600px;
	left: 275px;
	margin: 0 auto;
	text-align: center;
	font-size: 48px;
	line-height:20px;
	color: #FFF;
}

.high-score-container p {
	font-size: 24px;
}
